
@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" asp-action="Edit" class="mt-4">
    <input asp-for="Id" class="form-control" hidden />
    <div class="form-group mt-2">
        <label asp-for="Name" class="fw-bold mx-1"></label>
        <input asp-for="Name" class="form-control my-2" />

    </div>
    <div class="input-group mt-2 justify-content-center mt-5">
        <button class="btn btn-primary mx-1" type="submit">save</button>
        <a class="btn btn-secondary mx-1" asp-action="Index">Back To List</a>
    </div>
</form>

